{% extends "base.html" %}

{% import "post-preview.html" as post_macros %}

{% block posthead %}
  {% for post in section.pages %}
    <link rel="prerender" href="{{ post.permalink }}" />
  {% endfor %}
{% endblock posthead %}

{% block content %}
  {{ section.content | safe }}

  {% for post in paginator.pages %}
    {{ post_macros::post_preview(post=post) }}
  {% endfor %}

  <nav class="pagination">
    {% if paginator.previous %}
      <a class="previous" href="{{ paginator.previous }}">‹ Previous</a>
    {% endif %}
    {% if paginator.next %}
      <a class="next" href="{{ paginator.next }}">Next ›</a>
    {% endif %}
  </nav>

{% endblock content %}
